/* .mainPhoto{
    width: 100%;
    height: 100%;
} */
:root{
--primary-color:#080B5F;
--secondary-color:#8447FA;
}
.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.white{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
     background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.7));
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    height: 100vh;
    /* background-color: blue; */
    z-index: 5;
    position: relative;
    
}
.heroBox{
    position: absolute;
    z-index: 7;
    top: 50%;
    transform: translate(0,-50%);
    max-width: 1100px;
    margin: 0 auto;
}


.mainHeading{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
color: var(--primary-color);
width: 70%;
}
.mainPara{
    font-size: 1.3rem;
    color: rgb(78, 78, 78);
    line-height: 2;
    margin: 2rem 0;
    font-weight: 500;
    width: 70%;
    
}
.mainButton{
    background-color: var(--secondary-color);
    padding: 2rem 5rem ;
    font-size: 1.3rem;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.mainButton:hover{
    background-color:var(--secondary-color);
}


.firstSection{
    background-color: white;
    padding: 5rem 0;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    gap: 2rem;

    padding-top: 8rem;
    
}

.leftFirst{
    display: flex;
    gap: 3rem;    
}
.firstItem{
    width:100%;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content:stretch */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 1;     */
}
/* .leftItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.leftHeading{
    font-size: 2rem;
    color: var(--primary-color);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.leftPara{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}


.leftPhoto{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.leftButton{
    border: 2px solid var(--secondary-color);
    padding: 1rem 2rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    background-color: white;
    /* margin-top: 2rem; */
    cursor: pointer;
    border-radius: 5px;
    /* margin-top: auto; */
    /* align-self: flex-end; */
    
}
.rightFirst{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.rightButton{
    padding: 0rem 0 1rem 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--secondary-color) ;
    /* margin-bottom: 1rem; */
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    /* margin-top: 2rem; */
}
.rightPara{
margin: .5rem 0;
}

.rightHeading{
    color: var(--primary-color);
margin: 2rem 0 .5rem 0;
}
.secondSection{
    max-width: 1100px;
    margin: 0 auto;
}

.secondContainer{
    display: flex;
    gap: 2rem;    
    
}

.secondItem{
    display: flex;
    flex-direction: column;
}
.secondPhoto{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;

}
.secondHeading{
    font-size: 1.3rem;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.secondPara{
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: auto;

}
.secondButton{
    padding: 0rem 0 1rem 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--secondary-color) ;
    margin-bottom: 1rem;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    width: 50%;
    text-align: left;
}

.centerSection{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 0;
}
.centerHeading{
 
    font-size: 2rem;
    color: var(--primary-color);
    /* margin-top: 1.5rem; */
    /* margin-bottom: 1.5rem;    */
}

.centerButton{
    border: 2px solid var(--secondary-color);
    padding: 1rem 2rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
   
}


.lastSection{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;
    gap: 3rem;
}

.lastText{width: 70%;}
.lastPhoto{
width: 100%;
height: 300px;
object-fit: cover;
border-radius: 20px;
}

.lastHeading{
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    margin: 1.5rem 0;
    margin-top: 0;
}
.lastPara{
    font-size: 1.3rem;
    margin: 2rem 0;
}
.lastButton{
    padding: 1.5rem 3rem;
    font-size: 1.3rem;
    color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    background-color: white;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
}


/* navbar*/
.navSection{
    background-color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 0;
    align-items: center;
}
.navLogo{
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
}
.mainNav{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.navItem{
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.navButton{
    border: 2px solid var(--secondary-color);
    padding: .75rem 1.5rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;  
    border-radius: 5px;  
}

/* navbar*/




.loaderContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}






@media (max-width: 768px) {
    /* Mobile styles */
    .mainHeading{
        font-size: 2rem;
    }
    .container{
        max-width: 768px;
        margin: 0 auto;
        height: 100vh;
        /* padding: 0 2rem; */
        z-index: 5;
        position: relative;
        
    }
    .heroBox{
        position: relative;
        z-index: 7;
        text-align: center;
        max-width: 768px;
        margin: 0 auto;
        padding: 0 1rem;
    }
    
    
    .mainHeading{
        font-size: 2.5rem;
        margin-bottom: 2rem;
        font-weight: 700;
    color: var(--primary-color);
    width: 100%;
    text-align: center;
    }
    .mainPara{
        font-size: 1.3rem;
        color: rgb(78, 78, 78);
        line-height: 1.5;
        margin: 2rem 0;
        font-weight: 500;
        width: 100%;
        display: none;
        
    }
    .mainButton{
        background-color: var(--secondary-color);
        margin: 0 auto;
        padding: 1rem 2.5rem ;
        font-size: 1.3rem;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
    }
    .mainButton:hover{
        background-color:var(--secondary-color);
    }





    .firstSection{
        background-color: white;
        padding: 5rem 2rem;
        display: flex;
        max-width: 768px;
        margin: 0 auto;
        gap: 2rem;
        flex-direction: column;
        padding-top: 8rem;
        
       
    }
    
    .leftFirst{
        display: flex;
        flex-direction: column;
        gap: 3rem;    
    }
    .firstItem{
        width:100%;
        
    }
  
    .leftHeading{
        font-size: 2rem;
        color: var(--primary-color);
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .leftPara{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    
    
    .leftPhoto{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    }
    .leftButton{
        border: 2px solid var(--secondary-color);
        padding: 1rem 2rem;
        color: var(--primary-color);
        font-weight: 700;
        font-size: 1.2rem;
        background-color: white;
        cursor: pointer;
        border-radius: 5px;

        
    }
    .rightFirst{
        width: 100%;
        margin: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
    }
    
    .rightButton{
        padding: 0rem 0 1rem 0;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--secondary-color) ;
        /* margin-bottom: 1rem; */
        color: var(--secondary-color);
        font-weight: 600;
        font-size: 1.1rem;
        cursor: pointer;
        /* margin-top: 2rem; */
    }
    .rightPara{
    margin: .5rem 0;
    }
    
    .rightHeading{
        color: var(--primary-color);
    margin: 2rem 0 .5rem 0;
    }
    .secondSection{
        max-width: 768px;
        margin: 0 auto;
        padding: 0 2rem;
    }
    
    .secondContainer{
        display: flex;
        flex-direction: column;
        gap: 2rem;    
        
    }
    
    .secondItem{
        display: flex;
        flex-direction: column;
    }
    .secondPhoto{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
    
    }
    .secondHeading{
        font-size: 1.3rem;
        color: var(--primary-color);
        margin-top: 1rem;
        margin-bottom: 1rem;
    
    }
    .secondPara{
        font-size: 1rem;
        margin-bottom: 1rem;
        margin-top: auto;
    
    }
    .secondButton{
        padding: 0rem 0 1rem 0;
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--secondary-color) ;
        margin-bottom: 1rem;
        color: var(--secondary-color);
        font-weight: 600;
        font-size: 1.1rem;
        cursor: pointer;
        width: max-content;
        text-align: left;
    }
    
    .centerSection{
        display: flex;
        justify-content: space-between;
        max-width: 768px;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        margin: 0 auto;
        padding: 3rem 2rem;
    }
    .centerHeading{
     
        font-size: 2rem;
        color: var(--primary-color);
    }
    
    .centerButton{
        border: 2px solid var(--secondary-color);
        padding: 1rem 2rem;
        color: var(--primary-color);
        font-weight: 700;
        font-size: 1.2rem;
        background-color: white;
        cursor: pointer;
        border-radius: 5px;
       
    }
    
    
    .lastSection{
        max-width: 768px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5rem 2rem;
        flex-direction: column;
        gap: 3rem;
    }
    
    .lastText{
        width: 100%;
    }
    .lastPhoto{
    width: 100%;
    margin: 0 auto;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    }
    
    .lastHeading{
        font-size: 2rem;
        color: var(--primary-color);
        font-weight: 700;
        margin: 1.5rem 0;
        margin-top: 0;
    }
    .lastPara{
        font-size: 1.3rem;
        margin: 2rem 0;
    }
    .lastButton{
        padding: 1.5rem 3rem;
        font-size: 1.3rem;
        color: var(--primary-color);
        border: 3px solid var(--secondary-color);
        background-color: white;
        cursor: pointer;
        font-weight: 700;
        border-radius: 5px;
        width: 100%;
    }
    .lastPhotoContainer{
        width: 100%;
    }
    
    
    /* navbar*/
    .navSection{
        background-color: white;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        padding: 1rem 0;
        align-items: center;
    }
    .navLogo{
        font-size: 2rem;
        color: var(--primary-color);
        font-weight: 700;
        cursor: pointer;
    }
    .mainNav{
        display: flex;
        gap: 2rem;
        list-style: none;
    }
    .navItem{
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;
    }
    
    .navButton{
        border: 2px solid var(--secondary-color);
        padding: .75rem 1.5rem;
        color: var(--primary-color);
        font-weight: 700;
        font-size: 1.2rem;
        background-color: white;
        cursor: pointer;  
        border-radius: 5px;  
    }
    
    /* navbar*/
    
    
    
    
    .loaderContainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15rem;
    }
    














}


@media (min-width:769px ) and (max-width:1150px){
    
.main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.white{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 2;
     background:linear-gradient(rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.7));
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    height: 100vh;
    padding-left: 2rem ;
    padding-right: 2rem;
    z-index: 5;
    position: relative;
    
}
.heroBox{
    position: absolute;
    z-index: 7;
    top: 50%;
    transform: translate(0,-50%);
    max-width: 1100px;
    margin: 0 auto;
}


.mainHeading{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
color: var(--primary-color);
width: 70%;
}
.mainPara{
    font-size: 1.3rem;
    color: rgb(78, 78, 78);
    line-height: 2;
    margin: 2rem 0;
    font-weight: 500;
    width: 70%;
    
}
.mainButton{
    background-color: var(--secondary-color);
    padding: 2rem 5rem ;
    font-size: 1.3rem;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.mainButton:hover{
    background-color:var(--secondary-color);
}


.firstSection{
    background-color: white;
    padding: 5rem 0;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    gap: 2rem;
    flex-direction: column;
    padding-top: 8rem;
    
    
}

.leftFirst{
    display: flex;
    gap: 3rem;  
    padding: 0 2rem;  
}
.firstItem{
    width:100%;
    display: flex; 
    flex-direction: column; 
     justify-content:stretch ;
    /* flex-grow: 1; */
    /* flex-shrink: 1;  */
     /* flex-basis: 1;     */
}
/* .leftItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
.leftHeading{
    font-size: 2rem;
    color: var(--primary-color);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-grow: 2;
}
.leftPara{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  
}


.leftPhoto{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.leftButton{
    border: 2px solid var(--secondary-color);
    padding: 1rem 2rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    background-color: white;
    /* margin-top: 2rem; */
    cursor: pointer;
    border-radius: 5px;
    /* margin-top: auto; */
    /* align-self: flex-end; */
    
}
.rightFirst{

    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    /* height: 300px; */
    padding: 0 2rem;
    margin-top: 4rem;
}

.rightButton{
    padding: 0rem 0 1rem 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--secondary-color) ;
    /* margin-bottom: 1rem; */
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    text-align: left;
    width: fit-content;
    /* margin-top: 2rem; */
    /* flex-grow: 3; */
    /* flex-shrink: 3; */
}
.rightPara{
margin: 0 0;
/* flex-grow: 7; */
/* flex-shrink: 7; */
height: 80px;
}
.rightItem{
    display: flex;
    flex-direction: column;
    /* height: 300px; */
}

.rightHeading{
    height: 100px;
    color: var(--primary-color);
margin: 0rem 0 0rem 0;
margin-bottom: 1rem;
/* flex-grow: 6; */
/* flex-shrink: 6; */
}
.secondSection{
    max-width: 1100px;
    margin: 0 auto;
}

.secondContainer{
    display: flex;
    gap: 2rem;    
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.secondItem{
    display: flex;
    width: 45%;
    flex-direction: column;
    
}
.secondPhoto{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;

}
.secondHeading{
    font-size: 1.3rem;
    color: var(--primary-color);
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.secondPara{
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: auto;

}
.secondButton{
    padding: 0rem 0 1rem 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--secondary-color) ;
    margin-bottom: 1rem;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
    width: fit-content;
    text-align: left;
}

.centerSection{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
    padding: 3rem 2rem;
    gap: 2rem;
}
.centerHeading{
 
    font-size: 2rem;
    color: var(--primary-color);
    /* margin-top: 1.5rem; */
    /* margin-bottom: 1.5rem;    */
}

.centerButton{
    border: 2px solid var(--secondary-color);
    padding: 1rem 2rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 25%;
}


.lastSection{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 2rem  ;
    gap: 3rem;
}

.lastText{width: 70%;}
.lastPhoto{
width: 100%;
height: 300px;
object-fit: cover;
border-radius: 20px;
}

.lastHeading{
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    margin: 1.5rem 0;
    margin-top: 0;
}
.lastPara{
    font-size: 1.3rem;
    margin: 2rem 0;
}
.lastButton{
    padding: 1.5rem 3rem;
    font-size: 1.3rem;
    color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    background-color: white;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
}


/* navbar*/
.navSection{
    background-color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 0;
    align-items: center;
}
.navLogo{
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: 700;
    cursor: pointer;
}
.mainNav{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.navItem{
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.navButton{
    border: 2px solid var(--secondary-color);
    padding: .75rem 1.5rem;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.2rem;
    background-color: white;
    cursor: pointer;  
    border-radius: 5px;  
}

/* navbar*/




.loaderContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
}



}








